body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(214, 203, 203);
}


ul {
  list-style-type: none;
  color: rgb(126, 17, 228);

}
.char-name {
  color: rgb(143, 51, 59);
}
.jumbotron {
  background-color: rgb(147, 176, 229);
}